alias gs='git status'
alias gd='git diff'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias ..2="cd ../.."
alias ..3="cd ../../.."
alias ..4="cd ../../../.."
alias ..5="cd ../../../../.."

alias -- -="cd -"

alias artisan='php artisan'
alias nw='/Applications/node-webkit.app/Contents/MacOS/node-webkit'

alias mkcd='_(){ mkdir $1; cd $1; }; _'
alias growl='_(){ terminal-notifier -message "${1:-'OK'}" -activate "com.googlecode.iterm2" -sound Glass }; _'

alias chromedev='open -a Google\ Chrome --args --ignore-certificate-errors --allow-running-insecure-content'

alias tmux="TERM=screen-256color-bce tmux"
alias ts='_(){ if [ "$1" ]; then SESSION_NAME=$1 else SESSION_NAME=${${PWD##*/}:l} fi; tmux new-session -s $SESSION_NAME }; _'

alias openscad='/opt/homebrew-cask/Caskroom/openscad/2014.03/OpenSCAD.app/Contents/MacOS/OpenSCAD'
alias hhcomposer='hhvm -v ResourceLimit.SocketDefaultTimeout=60 -v Http.SlowQueryThreshold=30000 /usr/local/Cellar/composer/1.0.0-alpha8/libexec/composer.phar'
