alias gs='git status'
alias gd='git diff'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias ..2="cd ../.."
alias ..3="cd ../../.."
alias ..4="cd ../../../.."
alias ..5="cd ../../../../.."

alias -- -="cd -"

alias mkcd='_(){ mkdir $1; cd $1; }; _'
alias growl='_(){ terminal-notifier -message "$1" }; _'
